
 html {
    background-color: #FFF7DF;
}

/* Navbar menu-mobile */

.header-navbar__mobile {
    position: absolute;
    margin-left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(75, 75, 75, 0.582);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.mobile-menu {
    margin-left: 0;
}

.header-navbar__mobile > a {
    color: white;
    padding: 40px 0;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Permanent Marker", cursive;
}



/* HEADER */
.header {
    height: 100vh;
    width: 100%;
    /* background-color: var(--color-primary); */
    background: url(../image/bg.webp) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-navbar__computer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    display: none;
}

.header-navbar__computer > a {
    padding: 15px 30px;
    background-color: var(--color-primary);
    border: 2px solid black;
    color: white;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 15px;
}

.header-navbar__computer > a:hover {
    background-color: var(--color-primary);
    color: black;
    transition: 0.5s ease;
}

.open-menu {
    color: var(--color-primary);
}


.header-navbar {
    padding: 20px;
}

.header > img {
    width: 300px;
}

.header-navbar__link {
    font-size: 2.5rem;
    color: var(--color-btn);
}

.header > a {
    font-size: 3rem;
    color: var(--color-primary);
    margin-bottom: 30px;
}

.header > a:hover {
    color: white;
    transition: 0.5s ease;
}

/* MAIN */

/* Section biographie */

.main-bio__container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-bio__container-left {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-bio__container-left > img {
    height: 30vh;
    width: 90%;
    margin:  0 auto;
    border-radius: 25px;
}

.main-bio__container-right {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bio__container-right > h2 {
    font-size: 3rem;
    font-family: "Permanent Marker", cursive;
    color: var(--color-primary);
}

.main-bio__container-right > p {
    padding: 20px;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}

.main-bio__container-right > a {
    font-size: 3rem;
    color: var(--color-primary);
    margin-bottom: 30px;
}

.main-bio__container-right > a:hover {
    color: #000;
    transition: 0.5s ease;
}

.main-bio__link {
    color: black;
}

/* Section bestiaire */

.main-bestiary__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-bestiary__monster-card {
    background-color: #A52A2A;
    margin: 20px;
    height: 80%;
    width: 80%;
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    box-shadow: black 0px 10px 5px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bestiary__monster-card:hover {
    transition: 0.3s ease;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.main-bestiary > h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Permanent Marker", cursive;
    color: var(--color-primary);
    padding-bottom: 50px;
}

.monster-card__paragraph {
    color: #FFF7DF;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-family: "Permanent Marker", cursive;
}

.main-bestiary__link {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main-bestiary__link > a {
    padding: 15px 30px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 15px;
}

.main-bestiary__link > a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: 0.3s ease;
}

/* Section histoire */

.main-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-history > h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Permanent Marker", cursive;
    color: var(--color-primary);
    padding-top: 50px;
    padding-bottom: 20px;
}

.main-history > p {
    padding: 20px;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}

.main-history > a {
    padding: 15px 30px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 15px;
}

.main-history > a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: 0.3s ease;
}


/* Section footer */

.footer {
    height: 10vh;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.footer > p {
    font-size: 1rem;
    color: #FFF7DF;
    font-family: "Permanent Marker", cursive;

}


/* Tablet version */
@media only screen and (max-width: 800px) and (min-width: 500px) {
    .header-navbar__mobile {
        display: none;
    }

    .header-navbar__computer {
        display: flex;
    }

    .header-navbar {
        display: none;
    }
}







/* Computer version */
@media screen and (min-width: 800px) {
    .header-navbar__mobile {
        display: none;
    }

    .header-navbar__computer {
        display: flex;
    }

    .header-navbar {
        display: none;
    }

    .header > img {
        width: 500px;
    }

    .header > a {
        font-size: 5rem;
    }

    .main-bio__container {
        flex-direction: row;
    }

    .main-bio__container-left {
        height: 100vh;
        width: 60%;
    }

    .main-bio__container-left > img {
        height: 80vh;
        width: 80%;
        object-fit: contain;
    }

    .main-bio__container-right {
        height: 100vh;
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .main-bestiary__container {
        flex-direction: row;
    }

    .main-bestiary__monster-card {
        height: 600px;
    }

    .main-history {
        height: 50vh;
        justify-content: center;
    }

    
}